* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

/*IF THEY USES GRID LAYOUT, I WILL USE GRID TOO.*/

/*HEADER*/

/*Navigation bar*/


/*Banner*/




/*PROJECTS*/


/*ABOUT*/


/*CONTACT*/


/*LOCATION*/


/*FOOTER*/

@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}