* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

/*IF THEY USES GRID LAYOUT, I WILL USE GRID TOO.*/

/*HEADER*/

/*Navigation bar*/


/*Banner*/




/*PROJECTS*/


/*SERVICES*/


/*FACTS*/


/*ABOUT*/


/*CALL TO ACTION*/


/*CONTACT*/


/*FOOTER*/

@media (max-width: 1050px){

}

@media (max-width: 991px){

}

@media (max-width: 799px){

}

@media (max-width: 600px){

}